{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include 'partials/navegacao.html' %}
        <main class="main">
            <h1 class="titulo">IMPORTAR TRANSAÇÕES</h1>
            <form action="{% url 'index' %}" method="POST" class="form" enctype="multipart/form-data">{% csrf_token %}
                <div class="div">
                    <label class="label_input" for="file">Choose File</label>
                    <p id="texto_arquivo" class="titulo_input" >No file chosen</p>
                </div>
                <input class="file" type="file" name="file" id="file" accept=".csv">
                <p class="paragrafo">Selecione o arquivo para realizar o upload</p>
                <div class="div_button">
                    <button id="button" class="enviar" type="submit">Importar</button>
                </div>
            </form>
            <h2 class="titulo_importacoes"> IMPORTAÇÕES REALIZADAS</h2>
            <section class="section">
                <div>
                    <h3 class="titulo_datas_importacoes">DATA TRANSAÇÕES</h3>
                    {% for data in datas_transacoes %}
                        <p class="datas_importacoes">{{data}}</p>
                    {% endfor %}
                </div>
                <div>
                    <h3 class="titulo_datas_importacoes">DATA IMPORTAÇÃO</h3>
                    {% for horario in horarios %}
                        <p class="datas_importacoes">{{horario}}</p>
                    {% endfor %}
                </div>
                <div>
                    <h3 class="titulo_datas_importacoes">OPÇÕES</h3>
                    {% for arquivo in arquivos %}
                    <p class="datas_importacoes"><a class="ancoragem_detalhes"  href="{% url 'detalhes' arquivo.id %}">Detalhar</a></p>
                    {% endfor %}
                </div>
            </section>
        </main>
        <script>
            $(".file").change(function (e){
                const valor_arquivo = $(this).val()
                texto = document.getElementById("texto_arquivo")
                if (valor_arquivo === ""){
                    texto.textContent = "No file chosen"
                }
                else{
                    texto.textContent = valor_arquivo
                }
            })
        </script>
        <script>
            var file = document.getElementById('file');
            var botao = document.getElementById("button")
            file.onchange = function(e) {
            var ext = this.value.match(/\.([^\.]+)$/)[1];
            switch (ext) {
                case 'csv':
                    botao.classList.remove("tira_botao");
                break;
                default:
                    botao.classList.add("tira_botao");
                    alert("Esse não é um arquivo csv")
                    this.value = '';
                }
            };
        </script>
{% endblock %}


